/*

This last one's pretty tough! Use the properties you've learned to score 80 or higher!

justify-content

flex-start: group items at the start of a container's main axis
flex-end: group items at the end of the main axis
center: group items in the center of the main axis
space-between: evenly distribute items along the main axis such that the first item aligns at the start and the final item aligns at the end
space-around: evenly distribute items along the main axis such that all items have equal space around them
align-items and align-self

flex-start: align item(s) across the start of a container's cross axis
flex-end: align item(s) across the end of the cross axis
center: align item(s) across the center of the cross axis
flex-direction

row: lay out the main axis from left to right
row-reverse: lay out the main axis from right to left
column: lay out the main axis from top to bottom
column-reverse: lay out the main axis from bottom to top
order

#: position an item relative to the other items in the container

*/

.tower-group-1 {
    display: flex;
    justify-content: space-between;
    align-items:center;
    }
    .tower-1-1 {
    align-self:flex-start;
    }
    .tower-1-2 {
    }
    .tower-1-3 {
    order:1;
    }
    .tower-1-4 {
    }
    .tower-1-5 {
    order: 1;
    align-self: flex-end;
    }