/*

Help the frogs find their lilypads using flex-direction, justify-content, and align-items.

*/
#pond {
  
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;

}